.square{
    height: 100%;
    width: 100%;
}

.selected-square{
    
}

.last-move-square{

}

.move-destination-square{
    background-color: rgba(0, 0, 0, 0.3);
}

.square-hovered{
    background-color: rgba(0, 0, 0, 0.7);
}